<%- include('../Partials/header.ejs') %>
<body>
    <%- include('../Partials/navbar.ejs') %>
  <div class="container quiz">
    <div class="card">
      <div class="card-header">
        <h1>Pergunta cadastrada com sucesso!</h1>
      </div>
      <div class="card-body">
        <p>Aguarde, vamos responder o mais rápido possível!</p>
      </div>
    </div>
  </div>
</body>
<%- include('../Partials/footer.ejs') %>
